<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

		<div>
				
		<a href="http://localhost:3000/" target="_blank">
		
		<button>
			click me!
		</button>	

		</a>	

		<h1>value is : <%= data %></h1>	

		</div>

</body>
</html>